.contact {
  background-color: #C59552;
  border-radius: 16px;
  color: white !important;
}

.contact-block {
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  min-width: 90vw;
  align-items: center;
  justify-content: center;
}

.contact-block iframe {
  border-radius: 16px;
  width: 900px;
  height: 500px;
}

.contact-block .contact-text {
  display: inline;
  float: left;
  width: 500px;
}

.contact-block .contact-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #273C41;
  padding: 15px 15px;
  margin-left: 6vw;
  border-radius: 16px;
  margin-top: 20px;
  float: left;
  color: white;
  cursor: default;
}

.contact-block .contact-text p a {
  text-decoration: none;
  color: #C59552;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .contact-block {
    margin-top: 15vh;
    justify-content: space-around;
  }

  .contact-block .contact-text p {
    font-size: 13px;
    margin-left: 3vw;
  }

  .contact-block iframe  {
    height: 480px;
  }

  .contact-block .contact-text {
    width: 423px;
  }
}
