.about {
  background-color: #C59552;
  border-radius: 16px;
  color: white !important;
}

.intro-block {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  min-width: 90vw;
  align-items: center;
  justify-content: center;
}

.text-info {
  display: flex;
  flex-direction: column;
  margin: 10vh;
}

.text-info h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -0.035em;
}

.text-info p {
  margin-top: 5vh;
}

.text-info p a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 110%;
  background-color: #C59552;
  width: 145px;
  padding: 15px 15px;
  text-align: center;
  margin-left: 6vw;
  border-radius: 16px;
  text-decoration: none;
  color: white;
}

.intro-block img {
  margin-top: 5vh;
  height: 67vh;
}

.exists-block {
  display: flex;
  flex-direction: row;
  min-width: 90vw;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.exists-block img {
  margin-left: -5vw;
  margin-right: 5vw;
  height: 40vh;
}

.exists-text {
  margin-left: 5vw;
}

.exists-text h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
}

.exists-text p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 110%;
  margin-top: 3vh;
}

.provide-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.provide-img img {
  border-radius: 16px;
  width: 49vw;
}

.provide-block .provide-text {
  background-color: #C59552;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7vh;
}

.provide-block .provide-text {
  margin-top: 20px;
}

.provide-block .provide-text h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.provide-block .provide-text p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  color: #FFFFFF;
  margin-top: 10vh;
  padding-left: 20px;
}
