.about {
  background-color: #C59552;
  border-radius: 16px;
  color: white !important;
}

/* intro-block */
.intro-block {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  min-width: 90vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 12vh;
}

.text-info {
  display: flex;
  flex-direction: column;
}

.text-info h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -0.035em;
}

.text-info p {
  margin-top: 5vh;
}

.text-info p a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 110%;
  background-color: #C59552;
  width: 145px;
  padding: 15px 15px;
  text-align: center;
  margin-left: 6vw;
  border-radius: 16px;
  text-decoration: none;
  color: white;
}

.intro-block img {
  margin-top: 5vh;
  height: 67vh;
}

/* what_is_serv-block */
.what_is_serv-block {
  display: flex;
  flex-direction: column;
}

.ordservis, .value_and_trust, .innovation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 10px;
  width: 99vw;
  text-align: center;
}

.ordservis h2, .value_and_trust h2, .innovation h2 {
  background: #C59552;
  border-radius: 16px;
  padding: 15px;
  flex-grow: 1;
}

.ordservis h3, .value_and_trust h3, .innovation h3 {
  background: #273C41;
  border-radius: 16px;
  padding: 15px;
  flex-grow: 1;
}

.ordservis_margin {
  margin-left: 10px;
}

/* exists-block */
.exists-block-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 70px;
}

.exists-block-info img {
  margin-left: -5vw;
  margin-right: 5vw;
  height: 40vh;
}

.exists-text {
  margin-left: 5vw;
}

.exists-text h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
}

.exists-text p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 110%;
  margin-top: 3vh;
}

/* provide-block */
.provide-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.provide-img img {
  border-radius: 16px;
  width: 49vw;
}

.provide-block .provide-text {
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}


.provide-block .provide-text h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #C59552;
  flex-grow: 1;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.provide-block .provide-text p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  color: #FFFFFF;
  padding-left: 20px;
  background-color: #C59552;
  flex-grow: 2;
  padding: 20px;
  margin-left: 10px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* goals-block */

.goals-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.goals-block-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.goals-block-info p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  color: #000000;
  width: 40vw;
}

.goals-block-info img {
  width: 20vh;
}

.goals-block-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goals-block-img img {
  border-radius: 16px;
  width: 49vw;
}

/* built-block */

.built-block {
  display: flex;
  flex-direction: column;
}

.built-block h2 {
  background: #C59552;
  border-radius: 16px;
}

.built-block-row-first, .built-block-row-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.built-block-row-p  {
  display: flex;
  flex-direction: column;
  width: 49vw;
}
.built-block h2,
.built-block-row-p h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border-radius: 16px;
  padding: 20px;
  height: 15vh;
  margin-top: 2vh;
}

.built-block-row-p p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 30px;
}

.built-block-row-first-p-f h2{
  background: #25222A;
}

.built-block-row-first-p-s h2{
  background: #273C41;
}

.built-block-row-second-p-f h2{
  background: #C59552;
}

.built-block-row-second-p-s h2{
  background: #323756;
}

/* experiences-block */

.experiences-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
}

.experiences-block h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
  margin: 35px;
}

.experiences-block-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.experiences-block-info p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 100%;
  color: #000000;
  padding: 40px;
  width: 40vw;
}

.experiences-block-info img {

}
