@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Source+Sans+Pro:wght@300;400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 99vw;
  background-color: white;
  position: fixed;
  padding-top: 5px;
}

.menu-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

hr {
  height: 2px;
  background-color: black;
  margin: 0px !important;
  border: 0px;
}

nav {
  display: flex;
  position: relative;
}

ul {
  list-style: none;
  padding: 5px;
}

.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.topmenu > li:last-child {
  margin-right: 0;
}

.topmenu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 17px;
  color: black;
}

.topmenu a:hover {
  background-color: #C59552;
  border-radius: 16px;
  color: white !important;
}

.topmenu a:visited {
  color: black;
}

.submenu {
  padding: 5px 0px;
  position: absolute;
  left: 0;
  margin-right: 3px;
  z-index: 10;
}

.menu-desktop .submenu {
  transform: scaleY(0);
  transform-origin: 0 0;
}

.menu-desktop ul li:hover .submenu {
  transform: scaleY(1);
  transition: 0.5s ease-in-out;

}

.submenu li a {
  background-color: #C59552;
  border-radius: 16px;
  margin-top: 3px;
  color: white !important;
}

footer {
  margin-top: auto;
}

footer p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0px;
  padding: 10px;
  background-color: #273C41;
  border-radius: 16px;
  color: white;
}

.mobile-menu {
  margin: 5px 10px;
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
  top: 0;
  background: #FFFFFF;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;
  border-bottom: solid 2px #000000;
}

 .mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: 0.4s;
}
 .mobile-menu__icon {
	 display: block;
	 position: relative;
	 background: #000000;
	 width: 90%;
	 height: 4px;
	 transition: 0.4s;
}
 .mobile-menu__icon::after, .mobile-menu__icon::before {
	 content: "";
	 display: block;
	 position: absolute;
   background: #000000;
	 width: 100%;
	 height: 4px;
	 transition: 0.4s;
}
 .mobile-menu__icon::after {
	 top: 8px;
}
 .mobile-menu__icon::before {
	 top: -8px;
}
 .mobile-menu__container {
	 position: fixed;
	 text-align: center;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 top: 50px;
	 left: 0;
	 right: 0;
	 z-index: 999;
	 height: 0;
	 opacity: 1;
	 transition: 0.5s;
	 transition-delay: 0.2s;
	 overflow: hidden;
   background: #FFFFFF;
}
 .mobile-menu__list {
	 transition: 0.5s;
	 transition-delay: 0.5s;
	 list-style: none;
	 padding-left: 0;
	 margin-top: -50px;
}
 .mobile-menu__item {
   display: block;
   padding: 10px 15px;
   text-decoration: none;
   outline: none;
   font-family: 'Montserrat', sans-serif;
   font-weight: 300;
   text-transform: uppercase;
   font-size: 17px;
   color: black;
}
 .mobile-menu__link {
	 text-decoration: none;
	 color: #000000;
}
 .mobile-menu__checkbox {
	 display: none;
}
 .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
	 opacity: 1;
	 transition-delay: 0s;
}
 .mobile-menu__checkbox:checked ~ .mobile-menu__container {
	 height: 100%;
	 transition-delay: 0s;
}
 .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
	 background: transparent;
}
 .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
	 top: 0;
}
 .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
	 transform: rotate(-45deg);
	 -webkit-transform: rotate(-45deg);
}
 .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
	 transform: rotate(45deg);
	 -webkit-transform: rotate(45deg);
}

.mobile-logo {
  display: none;
}


@media (max-width: 1440px) {
  .topmenu a, footer p {
    font-size: 13px;
  }
}

@media (max-width: 860px) {
  .menu-desktop {
    display: none;
  }
  hr {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
}

@media (max-width: 480px) {
  .mobile-menu p {
    display: none;
  }
  .mobile-logo {
    display: block !important;
  }
}
