/* outsourcing-services-intro-block */
.outsourcing-services-intro-block {
  margin-top: 80px;
  margin-bottom: 50px;
}

.outsourcing-services-intro-block h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 120px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #C59444;
  border-radius: 16px;
  padding: 50px;
  display: flex;
}


.outsourcing-services-intro-block h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  color: #000000;
  margin: 7vh 20px;
  padding-top: 30px;
}

/* factors-block */
.factors-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  justify-content: center;
  align-items: center;
  background-image: url('../imgs/outsourcing-service-bckrnd.svg');
  height: 200vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120vw 200vh;
}

.factors-block p {
  background: #FFFFFF;
  border-radius: 16px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;
  color: #000000;
  padding: 70px;
  width: 30vw;
  margin: 12vw;
}

.factors-block p:first-child {
  margin-left: 30vw;
}

.factors-block p:nth-child(2) {
  margin-left: -20vw;
}


/* main-factors-block */
.main-factors-block {
  display: flex;
  flex-direction: column;
}

.main-factors-block h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #000000;
  padding: 20px;
}

.main-factors-block-symbol {
  color: #FFFFFF !important;
  border-radius: 16px;
  text-align: center;
  padding: 10px !important;
}

.symbol-first {
  background: #25222A;
}

.symbol-second {
  background: #273C41;
}

.symbol-third {
  background: #C59552;
}

.symbol-fourth {
  background: #323756;
}

/* guide-block */
.guide-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.guide-block-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 70px 0px;
}

.guide-block-info img {
  width: 32vw;
}

.guide-block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
}

.guide-block-text p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;
  color: #000000;
  padding: 40px;
  width: 30vw;
}

.guide-block-text p a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 110%;
  background-color: #C59552;
  width: 145px;
  padding: 15px 25px;
  text-align: center;
  margin-left: 6vw;
  border-radius: 16px;
  text-decoration: none;
  color: white;
}

.guide-block h2 {
  background: #C59552;
  border-radius: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 75px;
  color: #FFFFFF;
  padding: 20px;
}

@media screen and (max-width: 1440px) {
  .outsourcing-services-intro-block h1 {
    line-height: 110%;
    font-size: 80px;
    padding: 20px 50px;
  }

  .outsourcing-services-intro-block h2 {
    font-size: 55px;
    line-height: 110%;
    margin: 3vh 20px;
  }

  .guide-block h2 {
    font-size: 55px;
    line-height: 110%;
  }

  .factors-block p {
    font-size: 23px;
    line-height: 110%;
    padding: 50px;
  }

  .guide-block-text p, .guide-block-text p a {
    font-size: 23px;
    line-height: 110%;
  }

  .main-factors-block h3 {
    font-size: 35px;
    line-height: 110%;
  }
}


@media (max-width: 860px) {
  .factors-block {
    height: 155vh;
    background-size: 190vw 200vh;
  }
}

@media (max-width: 414px) {
  .outsourcing-services-intro-block h1, .guide-block h2, .outsourcing-services-intro-block h2  {
    font-size: 36px;
  }
  .guide-block-info {
    flex-direction: column;
  }

  .factors-block p {
    font-size: 16px;
    width: 40vw;
  }

  .factors-block {
    height: 800px;
  }

  .main-factors-block h3 {
    font-size: 25px;
  }

  .guide-block-text p {
    width: 78%;
    display: flex;
    justify-content: center;
    padding: 40px 0px 20px;
    font-size: 16px;
  }

  .guide-block-text p a {
    margin-left: 0px;
    font-size: 16px;
  }

  .guide-block-text {
    margin-left: 0px;
  }

  .guide-block-info img {
    width: 85vw;
  }
}
