.services {
  background-color: #C59552;
  border-radius: 16px;
  color: white !important;
}

.what-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  min-height: 80vh;
  align-items: center;
}

.what-services h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 140px;
  line-height: 146px;
  text-transform: uppercase;
  background-color: #C59552;
  border-radius: 16px;
  padding: 45px;
  width: 92vw;
}

.what-services .what-services_outsourcing {
  margin-top: 20px;
}

.what-services h2 a {
  text-decoration: none;
  color: #FFFFFF;
}

.what-services h2:hover {
  background: #273C41;
}

@media screen and (max-width: 1440px) {
  .what-services h2 {
    line-height: 110%;
    font-size: 87px;
    padding: 40px;
  }
}
